/*Declaring Old SCSS Variables*/
$primary__color: rgba(255, 255, 255, 1.0);

$secondary__color:  rgba(0, 17, 74, 1.0);

$first__button: rgba(246, 143, 22, 1.0);

$second__button: rgba(101, 186, 243, 1.0);

$button__hover: rgba(178, 181, 191, 1.0);

$primary__text-color: rgba(255, 255, 255, 1.0);

$secondary__text-color: rgba(0, 17, 74, 1.0);

$nav__color: rgba(0, 17, 74, 1.0);

$select__color: rgba(0, 17, 74, 1.0);

$link__text: rgba(246, 143, 97, 1.0);

$slider__check-box: rgba(201, 201, 201, 1.0);

$right__arrow-color: rgba(101, 186, 243, 1.0);

$counter__hover: rgba(246, 251, 255, 1.0);
/*End of Declaring Old SCSS Variables*/

/*Declaring New SCSS Variables*/
$primary__color2: rgba(250, 100, 0, 1.0);

$control__background: rgba(51, 51, 51, 1.0);

$first__slider-button: rgba(55, 68, 73, 1.0);

$second__slider-btn: rgba(30, 45, 50, 1.0);

$response__button: rgba(233, 97, 6, 1.0);

$chat__hover: rgba(245, 245, 245, 1.0);

$chat__text: rgba(98, 98, 98, 1.0);

$slider-h1-color:#FF812F;
$slider-text-color:black;
$replace-black:#201E1E;
$register_background:#ECF0F3;

$top-container-bg:rgba(255,255,255, 0.8);
$top-container-bgn: rgba(0, 0, 0, 0.9);

$bottom-border:rgba(217, 4, 4, 1.0);
$top-border:rgba(51, 51, 51, 1.0);
/*End of Declaring New SCSS Variables*/


/*Declaring Vanilla Css Variables*/
:root                                       {--primary-color: rgba(255, 255, 255, 1.0);
                                            --secondary-color: rgba(0, 17, 74, 1.0);
                                            --useless-faded: rgba(186, 190, 186, 1.0);
                                            --useless-faded1: rgba(169, 173, 170, 1.0);
                                            --content-color:rgba(255, 255, 255, 1.0);
                                            --upper-text--color:rgba(128, 128, 128, 1.0);
                                            --nav-color: rgba(51, 51, 51, 0.98);}


                                           